html{
    background-color: black;
}

.movieInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: start;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.movieDescription{
    grid-column: 1 / span 2; 
    grid-row-start: 2;
    grid-row-end: 2;
}

.movieImg{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.movieDisplay{
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: auto auto;
    margin: 75px auto auto auto;
    color: yellow;

}

